image: node:16

definitions:
  scripts:
    - script: &scalar |-
        ls -la
        TEST='FOO'
        echo $TEST
        printenv

  steps:
    - step: &install
        name: 'Install Dependencies'
        script:
          - npm ci
          - ls -la
          - npm run start

    - step: &export
        name: 'Export Test'
        script:
          - *scalar

    - step: &artifact
        name: 'Export Artifact'
        script:
          - echo "Exporting artifact"
          - mkdir -p artifacts
          - echo "This is a test artifact" > artifacts/test.txt
        artifacts:
          - artifacts/**

    - step: &artifact-consumer
        name: 'Consume Artifact'
        script:
          - echo "Consuming artifact"
          - ls -la artifacts
          - cat artifacts/test.txt

pipelines:
  tags:
    '*.*.*':
      - step: *install
      - step: *export

  default:
    - step: *install
    - step: *export
    - step: *artifact
    - step: *artifact-consumer

  branches:
    develop:
      - step: *install
    master:
      - step: *install
