image: node:16

definitions:
  scripts:
    - script: &scalar |-
        ls -la
        export TEST='FOO'
        echo $TEST
        printenv

  steps:
    - step: &install-dependencies
        name: "Test - Install Dependencies"
        script:
          - npm ci
          - ls -la
          - npm run start

    - step: &variables-and-scalar
        name: "Test - Variables/Scalar"
        script:
          - *scalar

    - step: &artifact-export
        name: "Test - Create Artifact"
        script:
          - echo "Exporting artifact"
          - mkdir -p files
          - echo "This is a test artifact" > files/test.txt
          - echo "Another file" > files/another.txt
        artifacts:
          - files/**

    - step: &artifact-consume-and-export
        name: "Test - Consume & Update Artifacts"
        script:
          - echo "Consuming artifact"
          - ls -la files
          - cat files/test.txt
          - cat files/another.txt
          - echo "Modifying artifact"
          - echo "Added another line" >> files/another.txt
          - echo "New file created" > files/newfile.txt
        artifacts:
          - files/**

    - step: &artifact-consumer-only
        name: "Test - Consume Artifacts Only"
        script:
          - echo "Consuming artifact only"
          - ls -la files
          - cat files/test.txt
          - cat files/another.txt
          - cat files/newfile.txt

pipelines:
  tags:
    "*.*.*":
      - step: *install-dependencies
      - step: *variables-and-scalar

  default:
    - step: *install-dependencies
    - step: *variables-and-scalar
    - step: *artifact-export
    - step: *artifact-consume-and-export
    - step: *artifact-consumer-only

  branches:
    develop:
      - step: *install-dependencies
    master:
      - step: *install-dependencies
